<header class="main-nav">
	<nav class="left-nav">
		<ul>
			<li id="sections-sidebar-btn">
				<i class="fa fa-bars"></i>
				<span>SECTIONS</span>
			</li>
			<li id="search-modal-btn">
				<i class="fa fa-search"></i>
				<span>SEARCH</span>
			</li>
		</ul>
	</nav>
	<nav class="right-nav">
		<ul>
			<li id='subscribe-side-button'>
				<button type="button" name="subscribe">SUBSCRIBE NOW</button>
			</li>
			<li id='log-in-button'>
				<button type="button" name="log-in">LOG IN</button>
			</li>
			<li>
				<button id="gear-dropdown-btn"><i class="fas fa-cog"></i></button>
				<%= render partial:'shared/gear_dropdown' %>
			</li>
		</ul>
	</nav>
</header>
